.report{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;

}
.smaller{
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 30px;

}
.header{
font-size: 45px;
}
.text{
    font-size: 20px;
}
.images{
    width: 300px;
    height: 200px;
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width: 100px;
    height: 100px;
}
.subtext{
    width: 20px;
    height: 20px;
}
.mother-div{
display: flex;
}
.canva{
    background-color: #f2f2f2;
    width: 40%;
    height: 900px;
    border-radius: 20px 0 0 20px;
    display: flex;
    justify-content: space-around;
}
.picture{
background-color: orange;
width: 60%;
    height: 900px;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    gap: 20px;
}
.canva-header{
    background: linear-gradient(rgb(3, 221, 250), purple);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 25px;
}
.canva-init{
    font-size: 20px;
    padding: 20px;


}
.canva-text{
    height: 60px;
    background-color: #f2f2f2;
    border: 1px solid black;
    border-radius: 20px;
    width: 400px;
    margin: 20px;
}
p{
margin: 20px;
}
button{
   background-color: #00c4cc;
   color: white;
   border: none;
   padding: 20px 60px;
   font-size: 10px;
    height: 50px;
    width: 400px;
    border-radius: 50px;
}
.canva-icon{
width: 25px;
height: 20px;
}
.column{
    width: 200px;
    height: 600px;
    margin: 20px;
}
.row1{
    width: 230px;
    height: 200px;
    background: url(images/IMG_20230207_112035_440.jpg);
    border-radius: 10px;
    margin-bottom: 20px;
    background-size: cover;
}
.row2{
    width: 230px;
    height: 200px;
    background: url(images/IMG_20230207_112035_440.jpg);
    border-radius: 10px;
    margin-bottom: 20px;
    background-size: cover;
}
.row3{
    width: 230px;
    height: 200px;
    background: url(images/IMG_20230207_112035_440.jpg);
    border-radius: 10px;
    margin-bottom: 20px;
    background-size: cover;
}
.row4{
    width: 230px;
    height: 200px;
    background: url(images/IMG_20230207_112035_440.jpg);
    border-radius: 10px;
    margin-bottom: 20px;
    background-size: cover;
}




