.navbar{
    display: flex;
    width: 100%;
    max-height: 10%;
    background-color: aliceblue;
    border-bottom: 1px solid black;
    justify-content: center;
    gap: 10rem;
}
.navbar img{
    width: 7rem;
    height: 7rem;
}
.navbar ul{
    display: flex;
    margin-top: 45px;
}
.navbar ul li{
    margin-left: 20px;
    list-style-type:none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
}
.navbar ul li a:hover{
    text-decoration: none;
    opacity: 0.5;
}
main{
    margin: 150px 100px;
}
.containerdiv{
    border-radius: 20px;
    display: flex;
    justify-content: center;
   
}
button{
    padding: 20px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    font-size: 1rem;
}
.containerdiv .content1{
    font-size: 2rem;
    /* max-width: 40%; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 50px;

}
.containerdiv .content1 h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header2{
    color: #050754;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.motherdivtwo{
    display: flex;
    gap: 6rem;
}
.innerdiv1{
    
}
.innerdiv1 h3{
    color: #050754;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.innerdiv1 img{
    width: 350px;
    height: 400px;
}
.innerdiv1 span{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
   opacity: 0.5;
}

.innerdiv2{
    
}
.innerdiv2 h3{
    color: #050754;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.innerdiv2 img{
    width: 350px;
    height: 400px;
}
.innerdiv2 span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0.5;
}

.innerdiv3{
    
}
.innerdiv3 h3{
    color: #050754;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.innerdiv3 img{
    width: 350px;
    height: 400px;
    
}
.innerdiv3 span{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 opacity: 0.5;

}
hr{
    color: blue;
}
.picturediv2{
    height: 500px;
    width: 400px;
    background-color: #d5eaf3;
    border-radius: 20px;
    padding: 50px 50px;
}
.picturediv2 img{
    width: 400px;
    height: 200px;
    border-radius: 20px;
}
.picturediv3{
    height: 500px;
    width: 400px;
    background-color: #e0d5c0;
    border-radius: 20px;
    padding: 50px 50px;
}
.picturediv3 img{
    width: 400px;
    height: 200px;
    border-radius: 20px;
}
.internaldiv{
    margin-bottom: 20px;
}
.picturediv4{
    height: 500px;
    width: 400px;
    background-color: #e0d5c0;
    border-radius: 20px;
    padding: 50px 50px;
    border: 1px solid black;
}
.picturediv4 img{
    width: 400px;
    height: 200px;
    border-radius: 20px;
}
.motherdiv3{
    display: flex;
    gap: 50px;
}
.picturediv5{
    height: 500px;
    width: 400px;
    background-color: #dfd5e8;
    border-radius: 20px;
    padding: 50px 50px;
    border: 1px solid black;
}
.picturediv5 img{
    width: 400px;
    height: 200px;
    border-radius: 20px;
}