body{
    height: 200vh;
}

.left{
    /* width: 1%; */
    /* height: 60px; */
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 8px;
}
.left-img {
width: 40px;
height: 20px;
}
nav{
    padding: 10px 10px 25px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 20px;
}
.left:hover{
    background-color: #f8f7f2;
    border-radius: 10px;
}
.circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: green;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}
.corner{
    display: flex;
    gap: 5px;
    align-items: center;
    border: 1px  solid grey;
    border-radius: 20px;
    padding: 7px 12px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}
.corner:hover{
background-color: #f8f7f2;
border-radius: 20px;

}
.right img{
    width: 30px;
    height: 30px;
    padding: 5px 7px;
}
.right{
    display: flex;
    align-items: center;
    gap: 8px;
}
.right img:hover{
    background-color: #f8f7f2;
    border-radius: 50%;
}
.smallcircle{
    width: 20px;
    height: 20px;
}
.smallcircle:hover {
    border: 10px solid #e5e5e0;
}
.help{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
}
.bell{
position: relative;
}
.notif{
    position: absolute;
    background-color: red;
    color: white;
    border-radius: 9px;
    font-size: 13px;
    padding: 1px 3px;
    font-weight: bold;
    text-align: center;
    margin-left: -22px;
}
.notify{
    background-color: black;
    color: white;
    padding: 8px  5px;
    border-radius: 10px;
    font-size: 12px;
    position: absolute;
    margin-left: -12px;
    display: none;
}
.bell-holder:hover .notify{
display: block;
}
.message{
    position: absolute;
    display: none;
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 8px 5px;
    border-radius: 8px;
    margin-left: -6px;
}
.message-holder:hover .message{
    display: block;
}
.your-profile{position: absolute;
    display: none;
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 8px 5px;
    border-radius: 8px;
    margin-left: -6px;
    margin-bottom: -90px;
}
.smallcircle:hover .your-profile{
    display: block;
}
.account{
    position: absolute;
    display: none;
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 8px 5px;
    border-radius: 8px;
    margin-left: -90px;
    
}
.arrow:hover .account{
    display: block;
}
.corner-details{
position: absolute;
width: 400px;
height: 300px;
background-color: #f8f7f2;
border-radius: 8px;
top: 59px;
left: -100px;
display: none;
}
.corner:hover .corner-details{
    display: block;
}
.corner:hover .corner-arrowdown{
    transform: rotate(180deg);
    transition-duration: 1s;
}
.businesses{
    padding: 8px;
}
.businesses a{
    text-decoration: none;

}
.businesses a:hover{
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}
.corner-details hr{
    height: 1.5px;
    background-color: #e9e9e9;
}
.first{
    display: flex;
    gap: 5px;
    align-items: center;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;
}
.switch{
width: 380px;
height: 40px;
background-color: #e5e5e0;
border-radius: 5px;
margin: 10px 15px 10px 5px;
display: flex;
}
.switch button{
    border: none;
    width: 50%;
    text-align:center;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    margin: 2px;
}
.ad:focus{
    background-color: black;
    color: white;
    
    .profile{
        background-color: white;
    
        /* color: white; */
    }
}
.profile:focus{
    background-color: black;
    
    color: white;
    .ad{
        background-color: #e5e5e0;
        /* color: black; */
        
    }
}